.home_body{
    background-image: url("images/home_background.jpg");
    background-size: cover;
    height: 92vh;
    padding-top: 10px;
}
.home_body .content{
    color: darkblue;
    font-size: 50px;
    background-color: #2b2f32;
    text-align: center;
}
.account_body{
    background-image: url("images/demo.jpg");
    height: 92vh;
    background-size: cover;
}